<div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">EXAM DSWD</a>

    <form class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>
</div>

<div class="login-container">
  <form>
    <div class="login">
      <input type="text" placeholder="Username" />
      <input type="text" placeholder="Password" />
      <button type="submit">Login</button>
    </div>
  </form>
</div>
